<ion-content>
    <ion-list class="loginbox">
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/2560px-Instagram_logo.svg.png"></ion-img>
      <ion-item lines="none">
        <ion-input [(ngModel)]="username" placeholder="Phone number, email or username"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input [(ngModel)]="password" lines="none" placeholder="Password"></ion-input>
        <ion-icon slot="end" name="eye-off-outline"></ion-icon>
      </ion-item>
      <ion-button (click)="login()" [disabled]="(!username || !password)" expand="block" color="primary">Log in</ion-button>
      <p class="forgotPw">Forgot your login dtails?  <span>Get help logging in</span></p>

      <p style="text-align:center;color:gray">----------------  OR  ----------------</p>

      <ion-button (click)="login()" expand="block" color="primary"><ion-icon name="logo-facebook"></ion-icon>  facebook login</ion-button>
    </ion-list>
</ion-content>

<ion-footer>
  <p>Don't have an account?  <span>Sign up</span></p>
</ion-footer>
