/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Theme Font';
    src: url('./assets/fonts/Orkney-Light.otf');
    font-style: normal;
  }

p,h1,h2,h3,h4,h5,h6,ion-button,ion-label,ion-title,ion-col,ion-input,ion-footer,swal2-title,ion-textarea,ion-list-header,ion-select{
    font-family: 'Theme Font' !important;
    color:#000;
}

ion-content{
    .commingSoon{
        opacity: 0.5;
        width: 240px;
        margin-top: 25vh;
        margin: auto;
        top: 0;
        bottom: 0;
        position: absolute;
        left: 0;
        right: 0;
    }
}

